version: "3.8"

services:
#  db:
#    image: postgres:14.6
#    volumes:
#      - postgres_data:/var/lib/postgresql/data/
#    env_file: .env
  web:
    build: .
    command: python  bot/main.py
    ports:
      - "8000:8000"
    env_file: .env
    volumes:
      - ./:/app
